.form {
  width: 536px;
  height: max-content;
  border-radius: 8px;
  box-shadow: 0px 10px 20px #00000012;
  margin: 40px auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
}

.formHeading {
  margin: 19px 0 45px;
  padding-bottom: 15px;
  color: #19191a;
  width: 60%;
  font-size: 39px;
  letter-spacing: 2px;
  border-bottom: 3px solid rgb(0, 122, 124);
}

.sendMessageButton {
  color: rgb(0, 122, 124);
  font-size: 20px;
  letter-spacing: 2px;
  width: 100%;
  background-color: transparent;
  text-align: center;
  padding: 23px 12px;
  margin: 32px 0 26px;
  border: 1px solid rgb(0, 122, 124);
  cursor: pointer;
  transition: all 0.3s;
}

.sendMessageButton:hover {
  background: rgb(0, 122, 124);
  color: #fff;
}
.formSuccessMessage {
  text-align: center;
  padding: 8px 0px;
}

@media (max-width: 875px) {
  /*Mobile View */
  .form {
    padding: 30px 18px;
  }

  .formHeading {
    width: 100%;
  }
}
