.footer{
    position: relative;
    height: 305px;
    background: #131212;
}
.frontEnd-logo{
    width: 15vw;
    height: 25vh;
    margin-left: 38%;
    padding-top: 20px;
}
.icons > a{
    color: #A3A9A4;
    padding: 20px;
    
}
.icons > a >i{
    font-size: 2em;
    
}
.icons{
    display: flex;
    margin-left: 8%;
    margin-top: -9%;
    
}
.info{
    margin-left: 62%;
    margin-top: -6%;
}
.info > p{
    color: #A3A9A4;
    font-size: 18px;
}
.info > a{
color:#71b6f6;
}

.copyright{
    margin-left: 30%;
    margin-top: 12%;
}
.copyright > p{
    color: #A3A9A4;
}
.copyright > p >a{
    color:#71b6f6;
}

@media (max-width: 875px){
.frontEnd-logo{
    width: 29vw;
    height: 20vh;
    margin-left: 35%;
    }
.icons{
    margin-top: -5%;
  }
.info{
margin-left: 5%;
margin-top: 5%;
}
.info > p{
font-size: 14px;
}
.info > a{
font-size: 14px;
}
.copyright{
margin-left: 7%;
}
.copyright > p{
font-size: 10px;
}
}