text {
    font: 16px sans-serif;
    fill: #fff;
    transition: all 0.3s;
  }
  
  .label {
    fill: #000;
  }
  
  .chart {
    width: 1500px;
    height: 1500px;

  }
  
  .chart-svg {
    width: 100%;
    height: 100%;
  }
  
  div.tooltip {
    position: absolute;
    text-align: center;
    width: 160px;
    height: 50px;
    padding: 8px;
    margin-top: -20px;
    font: 16px sans-serif;
    background: #ddd;
    pointer-events: none;
  }

