.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 182px;
  align-items: justify;
  padding: 30px 80px 30px 80px;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  width: 110%;
  height: 260%;
}

.text {
  padding: 13px 41px 20px;
  text-align: center;
}
