table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 45px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 40px;
  padding-right: 78px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(0, 122, 124);
  color: white;
}
