.resource-table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 45px;
}

.resource-table-data,
.resource-table-head {
  border: 1px solid #ddd;
  padding: 40px;
  padding-right: 78px;
}

.resource-table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.resource-table-row:hover {
  background-color: #ddd;
}

.resource-table-head {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(0, 122, 124);
  color: white;
}
