.table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 0px solid #ddd;
    width: 100%;
    padding: 40px 0px 0px 500px;
  }
  
 .table td, .table th {
    border: 1px solid #ddd;
    padding: 40px;
    padding-right: 90px;
  }
  
  .table tr:nth-child(even){background-color: #f2f2f2;}
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }
  