/* body {
  background: #59abe3;
  margin: 0;
} */
.form {
  width: 340px;
  height: 440px;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  /*   position: relative; */
}
.formHeading {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #78788c;
  border-bottom: 3px solid #78788c;
}
.inputContent {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
.inputContent:focus {
  border-bottom: 2px solid #78788c;
}
.formContent:before {
  text-align: left;
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}
.sendMessageButton {
  text-align: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 15%;
}
.sendMessageButton:hover {
  background: #78788c;
  color: #fff;
}

.contactInfo {
  background-color: #50505a;
  padding: 10px;
  height: auto;
  font-size: 14px;
  width: 280px;
  max-width: 100%;
  display: flex;
  border-radius: 5px;
  color: white;
  margin-left: 35px;
}

.email {
  padding-left: 23px;
  margin: 0 5px 0 15px;
}
