.button {
    background-color: turquoise;
    border-radius: 3px;
    width: 100px;
    height: 33px;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    color:white;
}